<md-tabs md-dynamic-height md-selected="selectedIndex" md-autoselect>
	<md-tab label disabled md-on-select md-on-deselect>
	  <md-tab-label>
	    <h3 ng-bind-html="selectedCategory.title"></h3>
	  </md-tab-label>
	  <md-tab-body>

	  	<div layout="column">

		  	<div layout="row" layout-align="end center">
				<md-select ng-show="settings.allowViewSwitch" ng-model="viewModel" placeholder="Switch View To">
				  <md-option ng-value="opt.name" ng-repeat="opt in viewOpts" ng-click="switchViewTo(opt)">{{ opt.desc }}</md-option>
				</md-select>
			</div>


		<md-content md-scroll-y>

		<!-- list view -->
		<md-list ng-if="isListView===true">
		  <md-list-item class="md-3-line" ng-repeat="post in posts">
		    <div class="md-list-item-text">
		      <h2 ng-bind-html="post.title"></h2>
		      <span>Published On: <a class="plain">{{post.date | strdate | date:'d MMM yyyy'}}</a>&nbsp;&nbsp;Author: <a class="plain">{{post.author.first_name}}&nbsp;{{post.author.last_name}}</a></span>
		      <p pr-read-more ng-bind-html="post.excerpt | readmore"></p>
		    </div>
		  <md-divider></md-divider>
		  </md-list-item>
		</md-list>


		<!-- card view -->
		<div layout ng-if="isListView===false">
			<md-card flex ng-repeat="post in posts">
			    <md-card-header>
			      <md-card-header-text>
			        <span class="md-title">{{post.author.first_name}}&nbsp;{{post.author.last_name}}</span>
			        <span class="md-subhead">{{post.date | strdate | date:'d MMM yyyy'}}</span>
			      </md-card-header-text>
			    </md-card-header>
				<md-card-title>
				  <md-card-title-text>
				    <span class="md-headline">{{post.title}}</span>
				  </md-card-title-text>
				</md-card-title>
				<md-card-content ng-bind-html="post.excerpt | hellip2ellipsis">
				</md-card-content>
				<md-card-actions layout="row" layout-align="end center">
			      <md-button pr-read-more>Read More</md-button>
			    </md-card-actions>
			</md-card>
		</div>
	</md-content>
</div>
	</md-tab-body>
	</md-tab>

	<md-tab ng-repeat="item in items" label disabled md-on-select md-on-deselect>
		<md-tab-label>
	    	<h3 ng-bind-html="item.title | ellipsis:20"></h3>
	  </md-tab-label>
	  <md-tab-body>
	  	<pr-article item="item"></pr-article>
	</md-tab-body>
	</md-tab>
</md-tabs>	
