<h1 ng-bind-html="item.title | ellipsis:10"></h1>

<div layout>
	<h1 ng-bind-html="item.title"></h1>
	<span flex></span>
	<md-button class="md-fab" aria-label="Open Original Post">
        <md-icon md-svg-icon="assets/images/ic_open_in_new_48px.svg"></md-icon>
		<md-tooltip>
          Open original post
        </md-tooltip>
      </md-button>
	<md-button class="md-fab md-primary">
		<md-icon md-svg-icon="assets/images/close15.svg"></md-icon>
		<md-tooltip>
          Close Tab
        </md-tooltip>
	</md-button>
</div>

<p ng-bind-html="item.content"></p>